:root {
    --background: #fff105;
    --x-red: #ff0000;
    --o-blue: #01ffff;
    --myFont: "DejaVu Sans";
}


body {
    background-color: var(--background);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.lobby-container {
    background-color: rgba(0,0,0,0.5);
    border-radius: 60px;
    text-align: center;
    width: 30vw;
    height: fit-content;
    padding: 30px;
}

.lobby-title {
    height: 50%;
    font-size: 4em;
    font-family: var(--myFont);
    margin-bottom: 2em;
}

.lobby-button {
    background-color: var(--x-red);
    border-radius: 15px;
    text-align: center;
    font-family: var(--myFont);
    font-size: 20px;
    color: white;
    height: 6em;
    width: 50%;
}
